/*h1,
p {
  color: greenyellow;
  text-align: center;
}

body {
  background-image: url("/My/CSS/image.jpeg");
  background-repeat: no-repeat !important;
  background-position: top right;
  background-size: 100% !important;
  background-attachment: fixed;
  background-color: aquamarine;
  background-origin: padding-box;
}


  background-image: url("/My/CSS/image.jpeg");
  background-repeat: no-repeat !important;
  background-position: top right;
  background-size: 100% !important;
  background-attachment: fixed;
  background-color: aquamarine;
  background-origin: padding-box;*/
body {
  background: no-repeat rgb(15, 120, 129) url("/My/CSS/image.jpeg") top right;
  opacity: 0.8;
}
